<!-- 3 Column Banners Starts -->
<div class="col3-banners">
  <div class="container">
    <ul class="row list-unstyled">
      <li class="col-sm-4">
        <img src="http://placehold.it/1200X600/ff8b03/000000" alt="banners" class="img-responsive">
      </li>
      <li class="col-sm-4">
        <img src="http://placehold.it/1200X600/ff8b03/000000" alt="banners" class="img-responsive">
      </li>
      <li class="col-sm-4">
        <img src="http://placehold.it/1200X600/ff8b03/000000" alt="banners" class="img-responsive">
      </li>
    </ul>
  </div>
</div>
<!-- 3 Column Banners Ends -->
