<!-- Header Top Starts -->
<div class="header-top">
  <div class="container">
    <!-- Header Links Starts -->
    <div class="col-sm-8 col-xs-12">
      <div class="header-links">
        <ul class="nav navbar-nav pull-left">
          <li>
            <a href="index.html">
              <i class="fa fa-home" title="" data-original-title="Home"></i>
              <span class="hidden-sm hidden-xs">Home</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-heart" title="" data-original-title="Wish List"></i>
              <span class="hidden-sm hidden-xs">Wish List(0)</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-user" title="" data-original-title="My Account"></i>
              <span class="hidden-sm hidden-xs">My Account</span>
            </a>
          </li>
          <li>
            <a href="cart.html">
              <i class="fa fa-shopping-cart" title="" data-original-title="Shopping Cart"></i>
              <span class="hidden-sm hidden-xs">Shopping Cart</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-crosshairs" title="" data-original-title="Checkout"></i>
              <span class="hidden-sm hidden-xs">Checkout</span>
            </a>
          </li>
          <li>
            <a href="register.html">
              <i class="fa fa-unlock" title="" data-original-title="Register"></i>
              <span class="hidden-sm hidden-xs">Register</span>
            </a>
          </li>
          <li>
            <a href="login.html">
              <i class="fa fa-lock" title="" data-original-title="Login"></i>
              <span class="hidden-sm hidden-xs">Login</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <!-- Header Links Ends -->
    <!-- Currency & Languages Starts -->
    <div class="col-sm-4 col-xs-12">
      <div class="pull-right">
        <!-- Currency Starts -->
        <div class="btn-group" dropdown>
          <button type="button" class="btn btn-link dropdown-toggle" dropdown-toggle ng-disabled="disabled">
            Currency
            <i class="fa fa-caret-down"></i>
          </button>
          <ul class="pull-right dropdown-menu" role="menu">
            <li><a tabindex="-1" href="#">Pound </a></li>
            <li><a tabindex="-1" href="#">US Dollar</a></li>
            <li><a tabindex="-1" href="#">Euro</a></li>
          </ul>
        </div>
        <!-- Currency Ends -->
        <!-- Languages Starts -->
        <div class="btn-group" dropdown>
          <button type="button" class="btn btn-link dropdown-toggle" dropdown-toggle ng-disabled="disabled">
            Language
            <i class="fa fa-caret-down"></i>
          </button>
          <ul class="pull-right dropdown-menu" role="menu">
            <li><a tabindex="-1" href="#">English </a></li>
          </ul>
        </div>
        <!-- Languages Ends -->
      </div>
    </div>
    <!-- Currency & Languages Ends -->
  </div>
</div>
<!-- Header Top Ends -->
